*{
    margin: 0;
    padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

/* Navigation*/

.container{
	width: 100%;
	height: 12vh;
	padding-left: 4%;
	padding-right: 3%;
	box-sizing: border-box;
	z-index: 999;
	position: fixed;
	background-color: white;
    box-shadow:0 2px 4px 0 gray;
}

.navbar{
	width: 100%;
	display: flex;
	height: 14vh;
	align-items: center;
	z-index: 999;
}

.logo{
	width: 200px;
	cursor: pointer;
	margin: 30px 0;
}

nav{
	flex: 1;
	text-align: right;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}

nav ul li a{
	text-decoration: none;
	color: black;
	font-size: 14px;
}

nav ul li a:hover{
	color: red;
}


.btn4{
	width: 80px;
	height: 40px;
	color: white;
	background: rgba(233, 48, 48, 1);
	border: 1px solid black;
	outline: none;
	font-weight: 900;
}
.btn4:hover{
    color: black;
}


/* Background*/

.IMG{
   
    width: 100%;
    height: 90vh;

}


.background img{
    position: relative;
    width: 100%;
    height: 90vh;
    bottom: -30px;
}

.background h2{
    position: relative;
    font-size: 80px;
    top: 166px;
    padding-left: 40px;
}

.txt{
    position: relative;
    padding-left: 60px;
    top: 30px;
}

.txt h2{
    position: relative;
    font-size: 65px;
    bottom: 400px;
    color: white;
}

/* calender*/

.containers{
    width: 100%;
    padding-left: 270px;
}

.form{
    position: relative;
    display: inline-block;
    width: 300px;  
}

.form label{
    position: relative;
    font-size: 14px;
    font-weight: 700;
}
.form input{
    position: relative;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid black;
    height: 40px;
}

.calender{
    position: relative;
    display: inline-flex;
    background-color: #F0F0F0;
    align-items: center;
    height: 100px;
    bottom: 40px;
    padding: 25px;
    margin: 20px;
    border-radius: 10px;
    box-shadow:0 4px 4px 0 gray;
}

/* Bikes*/

.box{
    position: relative;
   width: 100%;
   height: 520vh;
    display: inline-block;
   
}



.icon{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    top: -126px;
    padding-bottom: 114px;
    padding-left: 310px;
}

.icon img{
    position: relative;
    height: 40px;
   
}

.icon h1{
    font-size: 16px;

}

.car-box img{
    position: relative;
}

.car-box{
    position: relative;
    height: 271px;
    border-radius: 5px;
    background: #F0F0F0;
    box-shadow: 0 4px 4px 0 gray;
}

.price{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    bottom: 190px;
}

.img img{
    position: relative;
    height: 190px;
}

.price h3{
    color: red;
}

.column{
    position: relative;
    padding-left: 600px;
    padding-right: 20px;
}

.btn{
	width: 80px;
	height: 40px;
	color: white;
	background: rgba(233, 48, 48, 1);
	border: 1px solid black;
	outline: none;
	font-weight: 600;
}
.btn:hover{
    color: black;
}

.price h2{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    top: 30px;
}

/* filter*/

.filter{
    position: relative;
    width: 260px;
    float: left;
    text-decoration: none;
    bottom: 198rem;
    left: 150px;
}

.class{
    padding: 16px;
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 gray;
    margin: 0 0 16px;
    background: #f0f0f0;
}

.clear{
    position: relative;
   display: inline-block;
}

.clear h1{
    font-size: 14px;
    display: inline-block;
}

.clear h2{
    font-size: 14px;
    display: inline-block;
    padding-left: 146px;
    color: red;
}

.option h2{
    font-size: 14px;
    color: #3b3b3b;
    opacity: .5;
    margin: 8px;
}

.option{
    
    display: block;
    text-align: center;
}

.option a{
    border-radius: 3px;
    border: 0.5px solid #3b3b3b;
    display: inline-block;
    text-decoration: none;
    padding: 4px 16px;
    line-height: 27px;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .37px;
    text-align: center;
    color: black;
    width: 100%;
}

.option li{
    list-style: none;
    display: inline-block;
    width: 47%;
    margin: 0 1% 10px;
    background: gray;
}



/*Footer*/

.footer {
	background-color: black;
	padding-top: 2rem;
	padding-left: 3rem;
	padding-right: 4rem;
	line-height: 2rem;
	height: 67vh;
	width: 100%;
  }
  

  .footer-center{
	  position: relative;
	  bottom: 37px;
	  padding: 1rem;
	  margin: 1rem;
  }

  .footer-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	color: white;
  }
  
  .footer-center a {
	display: block;
	color: #f1f1f1;
	font-size: 1.0rem;
	transition: 0.6s;
	text-decoration: none;
	color: inherit;
  }
  
  .footer-center a:hover {
	color: red;
  }
  .footer-centers img:hover {
	background-color: red;
	border-radius: 20px;
  }
  
  .footer-center div {
	color: #f1f1f1;
	font-size: 1.0rem;
  }
  
  .footer-center h3 {
	font-size: 1.4rem;
	font-weight: 400;
	margin-bottom: 1rem;
  }

  .footer-centers h3{
	font-size: 1.4rem;
	font-weight: 400;
	margin-bottom: 1rem;
  }
 
.footer-centers img{
	position: relative;
	height: 80px;
}

.containerss p{
	color: white;
	text-align: center;
	padding-top: 30px;
}


.footer p:hover{
	color: red;
}